{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}{{ brand }} | Корзина {% endblock title %}
{% block content %}
    <h1 class="p-3">Корзина</h1>
    <p class="px-3">
        <span class="text-danger">*</span> При вводе количества, значение может быть изменено относительно количества в
        упаковке
    </p>
    <table class="table table-dark">
        <tr>
            <th>Наименование</th>
            <th class="text-center">Ед.</th>
            <th class="text-center">Кол-во <span class="text-danger">*</span></th>
            <th class="text-center">В упаковке</th>
        </tr>
        {% for cart_item in cart_items %}
            <tr>
                <td>{{ cart_item.product.name }}</td>
                <td class="text-center">{{ cart_item.product.measurement_unit }}</td>
                <td class="px-0">
                    <form action="{% url 'orders:cart_edit' %}?next={{ request.path }}?{{ request.META.QUERY_STRING }}"
                          method="post"
                          id="form-product-{{ cart_item.product.pk }}"
                    >
                        <div class="input-group input-group-sm d-flex flex-nowrap justify-content-center">
                            {% csrf_token %}
                            {{ cart_item_form.product|set_initial_value:cart_item.product.pk }}
                            <button class="btn btn-outline-secondary"
                                    type="button"
                                    onclick="dec(this)"
                            >-</button>
                            <input name="quantity"
                                   value="{{ cart_item.quantity }}"
                                   step="{{ cart_item.product.pack_quantity|stringformat:"s" }}"
                                   min="{{ cart_item.product.pack_quantity|stringformat:"f" }}"
                                   onchange="update(this, 'update')"
                                   class="text-bg-dark form-control"
                                   style="width: 4em"
                            >
                            <button class="btn btn-outline-secondary"
                                    type="button"
                                    onclick="inc(this)"
                            >+</button>
                        </div>
                    </form>
                </td>
                <td class="text-center">{{ cart_item.product.pack_quantity|floatformat }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block script %}
    <script>
        function round_multiple(value, multiple) {
            // Округляет value до значения кратного multiple
            if (value % multiple !== 0) {
                value = Math.ceil(value / multiple) * multiple;
            }
            return value;
        }

        function inc(element) {
            // инкремент
            let input = element.previousElementSibling;
            update(input, 'increment')
        }

        function dec(element) {
            // декремент
            let input = element.nextElementSibling;
            update(input, 'decrement')
        }

        function update(input, action) {
            // обновление значения элемента input
            let value = parseFloat(input.value);
            let step = parseFloat(input.step);
            if (value < step) {
                value = step;
            }
            switch (action) {
                case 'increment':
                    value = round_multiple(value + step, step);
                    break;
                case 'decrement':
                    if (value > step) {
                        value = round_multiple(value - step, step);
                    }
                    break;
                default:
                    value = round_multiple(value, step);
            }
            input.value = value;
            input.form.submit()
        }
    </script>
{% endblock %}
