{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}{{ brand }} | Корзина {% endblock title %}
{% block content %}
    <h1 class="p-3">Корзина</h1>
    <table class="table table-dark">
        <tr>
            <th>Наименование</th>
            <th>Упаковка</th>
            <th>Упаковок</th>
            <th>Всего</th>
        </tr>
        {% for cart_item in cart_items %}
            <tr>
                <td>{{ cart_item.product.name }}</td>
                <td>{{ cart_item.product.pack_quantity|floatformat }} {{ cart_item.product.measurement_unit }}</td>
                <td>
                    <form action="{% url 'orders:cart_edit' %}?next={{ request.path }}?{{ request.META.QUERY_STRING }}"
                          method="post"
                          id="form-product-{{ cart_item.product.pk }}">
                        {% csrf_token %}
                        {{ cart_item_form.product|set_initial_value:cart_item.product.pk }}
                        <input name="quantity"
                               type="number"
                               value="{{ cart_item.quantity }}"
                               onchange="this.form.submit()"
                               class="form-control-sm">
                    </form>
                </td>
                <td>
                    {{ cart_item.total|floatformat }} {{ cart_item.product.measurement_unit }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
