{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}{{ brand }} | История заказов {% endblock title %}
{% block content %}
    <h1 class="p-3">История заказов</h1>
    <table class="table table-dark">
        <tr>
            <th>Номер</th>
            <th>Дата</th>
            <th>Заказчик</th>
            <th>Статус</th>
        </tr>
        {% for order in orders %}
            <tr>
            <a href="{{ order }}"></a>
                <td>{{ order.number }}</td>
                <td>{{ order.created_at }}</td>
                <td>{{ order.customer }}</td>
                <td>{{ order.get_status_display }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}