{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}{{ brand }} | Каталог {% endblock title %}
{% block content %}
    <table class="table table-dark">
        <tr>
            <th>Наименование</th>
            <th></th>
        </tr>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>
                    <form action="{% url 'orders:cart_edit' %}?next={{ request.path }}?{{ request.META.QUERY_STRING }}"
                          method="post">
                        {% csrf_token %}
                        {{ cart_item_form.product|set_initial_value:product.pk }}
                        {% if product.is_in_cart %}
                            {{ cart_item_form.quantity|set_initial_value:0 }}
                            <input type="image"
                                   src="{% static 'orders/check.png' %}"
                                   alt="В корзине"
                                   width="30"
                                   height="30">
                        {% else %}
                            {{ cart_item_form.quantity|set_initial_value:product.pack_quantity }}
                            <input type="image"
                                   src="{% static 'orders/cart.png' %}"
                                   alt="В корзину"
                                   width="30"
                                   height="30">
                        {% endif %}
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}